In [1]:
import pandas as pd
import os, sys
import glob
import numpy as np

In [2]:
path = "csse_covid_19_data/csse_covid_19_daily_reports"
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, encoding="ISO-8859-1")
    li.append(df)
    frame = pd.concat(li, axis=0, ignore_index=True, sort=False)

In [3]:
frame.count()

ï»¿Province/State      503
Country/Region        7617
Last Update           7617
Confirmed            56785
Deaths               56363
Recovered            56416
Province/State        3855
Latitude              4799
Longitude             4799
ï»¿FIPS               3151
Admin2               45054
Province_State       46424
Country_Region       49187
Last_Update          49187
Lat                  48901
Long_                48901
Active               49187
Combined_Key         49187
FIPS                 41529
dtype: int64

In [7]:
df = frame
df = df.fillna('')
df['Province_State'] = df['Province/State'].astype(str) + df['Province_State'].astype(str)
df['Country_Region'] = df['Country/Region'].astype(str) + df['Country_Region'].astype(str)
df['Last_Update'] = df['Last Update'].astype(str) + df['Last_Update'].astype(str)
df['Latitude'] = df['Latitude'].astype(str) + df['Lat'].astype(str)
df['Longitude'] = df['Longitude'].astype(str) + df['Long_'].astype(str)
df = df.drop(columns=['Province/State','Country/Region','Last Update','Lat','Long_'])
df['Last_Update'] = df['Last_Update'].str[0:10]
df = df.sort_values(by=['Country_Region','Last_Update'])
df.head()

,ï»¿Province/State,Confirmed,Deaths,Recovered,Latitude,Longitude,ï»¿FIPS,Admin2,Province_State,Country_Region,Last_Update,Active,Combined_Key,FIPS
2663,,1,0,0,,,,,,Azerbaijan,2020-02-28,,,
2258,,1,0,0,,,,,,Afghanistan,2020-02-24,,,
2351,,1,0,0,,,,,,Afghanistan,2020-02-24,,,
2452,,1,0,0,,,,,,Afghanistan,2020-02-24,,,
2556,,1,0,0,,,,,,Afghanistan,2020-02-24,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14302,,3743,88,401,50.8333,4.469936,,,,Belgium,2020-03-23,3254,Belgium,
17716,,4269,122,461,50.8333,4.469936,,,,Belgium,2020-03-24,3686,Belgium,
21132,,4937,178,547,50.8333,4.469936,,,,Belgium,2020-03-25,4212,Belgium,
24551,,6235,220,675,50.8333,4.469936,,,,Belgium,2020-03-26,5340,Belgium,
27979,,7284,289,858,50.8333,4.469936,,,,Belgium,2020-03-27,6137,Belgium,