In [1]:
import pandas as pd
import os, sys
import glob
import numpy as np

In [2]:
path = "csse_covid_19_data/csse_covid_19_daily_reports"
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, encoding="ISO-8859-1")
    li.append(df)
    frame = pd.concat(li, axis=0, ignore_index=True, sort=False)

In [3]:
frame.count()

Province/State     4358
Country/Region     7617
Last Update        7617
Confirmed         56785
Deaths            56363
Recovered         56416
FIPS              44680
Admin2            45054
Province_State    46424
Country_Region    49187
Last_Update       49187
Lat               48901
Long_             48901
Active            49187
Combined_Key      49187
Latitude           4799
Longitude          4799
dtype: int64

In [3]:
df = frame
df = df.fillna('')
df['Province_State'] = df['Province/State'].astype(str) + df['Province_State'].astype(str)
df['Country_Region'] = df['Country/Region'].astype(str) + df['Country_Region'].astype(str)
df['Last_Update'] = df['Last Update'].astype(str) + df['Last_Update'].astype(str)
df['Latitude'] = df['Latitude'].astype(str) + df['Lat'].astype(str)
df['Longitude'] = df['Longitude'].astype(str) + df['Long_'].astype(str)
df = df.drop(columns=['Province/State','Country/Region','Last Update','Lat','Long_','Combined_Key'])
df['Last_Update'] = df['Last_Update'].str[0:10]
df = df.sort_values(by=['Country_Region','Last_Update'])
df.drop_duplicates(keep='first', inplace=True)
df = df[['Province_State','Country_Region','Confirmed','Deaths','Recovered','Active','Latitude','Longitude','FIPS','Admin2']]
df

,Province_State,Country_Region,Confirmed,Deaths,Recovered,Active,Latitude,Longitude,FIPS,Admin2
54255,,Azerbaijan,1,0,0,,,,,
73,,Afghanistan,1,0,0,,,,,
13109,,Afghanistan,1,0,0,,33.0,65.0,,
56409,,Afghanistan,4,0,0,,33.0,65.0,,
12518,,Afghanistan,5,0,0,,33.0,65.0,,
12728,,Afghanistan,7,0,0,,33.0,65.0,,
54561,,Afghanistan,11,0,0,,33.9391,67.71,,
54806,,Afghanistan,16,0,0,,33.9391,67.71,,
26904,,Afghanistan,21,0,1,,33.9391,67.71,,
26643,,Afghanistan,22,0,1,,33.9391,67.71,,
55503,,Afghanistan,24,0,1,,33.9391,67.71,,
17459,,Afghanistan,40,1,1,38,33.93911,67.709953,,
3609,,Afghanistan,74,1,1,72,33.93911,67.709953,,
7025,,Afghanistan,84,2,2,80,33.93911,67.709953,,
51197,,Afghanistan,94,4,2,88,33.93911,67.709953,,
47775,,Afghanistan,110,4,2,104,33.93911,67.709953,,
33968,,Afghanistan,110,4,2,104,33.93911,67.709953,,
30538,,Afghanistan,120,4,2,114,33.93911,67.709953,,
37882,,Afghanistan,170,4,2,164,33.93911,67.709953,,
40314,,Afghanistan,174,4,5,165,33.93911,67.709953,,
42799,,Afghanistan,237,4,5,228,33.93911,67.709953,,
9585,,Afghanistan,273,6,10,257,33.93911,67.709953,,
12210,,Afghanistan,281,6,10,265,33.93911,67.709953,,
26303,,Afghanistan,299,7,10,282,33.93911,67.709953,,
23622,,Afghanistan,349,7,15,327,33.93911,67.709953,,
53996,,Afghanistan,367,11,18,338,33.93911,67.709953,,
20950,,Afghanistan,40,1,1,38,33.93911,67.709953,,
56438,,Albania,2,0,0,,41.1533,20.1683,,
12494,,Albania,10,0,0,,41.1533,20.1683,,
12703,,Albania,12,1,0,,41.1533,20.1683,,
...,...,...,...,...,...,...,...,...,...,...
30709,,Zambia,29,0,0,29,-13.133897,27.849332,,
38054,,Zambia,35,0,0,35,-13.133897,27.849332,,
40488,,Zambia,35,0,0,35,-13.133897,27.849332,,
42973,,Zambia,36,0,0,36,-13.133897,27.849332,,
9760,,Zambia,39,1,0,38,-13.133897,27.849332,,
12385,,Zambia,39,1,2,36,-13.133897,27.849332,,
26478,,Zambia,39,1,2,36,-13.133897,27.849332,,
23799,,Zambia,39,1,3,35,-13.133897,27.849332,,
54174,,Zambia,39,1,5,33,-13.133897,27.849332,,
21004,,Zambia,3,0,0,3,-13.133897,27.849332,,
55606,,Zimbabwe,1,0,0,,-20.0,30.0,,
55874,,Zimbabwe,3,0,0,,-19.0154,29.1549,,
17620,,Zimbabwe,3,1,0,2,-19.015438,29.154857,,
3773,,Zimbabwe,3,1,0,2,-19.015438,29.154857,,
7193,,Zimbabwe,3,1,0,2,-19.015438,29.154857,,
51367,,Zimbabwe,3,1,0,2,-19.015438,29.154857,,
47946,,Zimbabwe,5,1,0,4,-19.015438,29.154857,,
34140,,Zimbabwe,7,1,0,6,-19.015438,29.154857,,
30710,,Zimbabwe,7,1,0,6,-19.015438,29.154857,,
38055,,Zimbabwe,7,1,0,6,-19.015438,29.154857,,
40489,,Zimbabwe,8,1,0,7,-19.015438,29.154857,,
42974,,Zimbabwe,8,1,0,7,-19.015438,29.154857,,
9761,,Zimbabwe,9,1,0,8,-19.015438,29.154857,,
12386,,Zimbabwe,9,1,0,8,-19.015438,29.154857,,
26479,,Zimbabwe,9,1,0,8,-19.015438,29.154857,,
23800,,Zimbabwe,9,1,0,8,-19.015438,29.154857,,
54175,,Zimbabwe,10,1,0,9,-19.015438,29.154857,,
21005,,Zimbabwe,3,0,0,3,-19.015438,29.154857,,
12467,,occupied Palestinian territory,25,0,0,,31.9522,35.2332,,
12809,,occupied Palestinian territory,0,0,0,,31.9522,35.2332,,

In [4]:
df.to_csv("clean_data.csv")