In [1]:
import pandas as pd
import os, sys
import glob
import numpy as np

In [4]:
path = "csse_covid_19_data/csse_covid_19_time_series"
all_files = glob.glob(path + "/time_series_covid19_confirmed_*.csv")
us = pd.read_csv("csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv", encoding="ISO-8859-1")
glob = pd.read_csv("csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv", encoding="ISO-8859-1")

In [34]:
sanfran = us.loc[us['Province_State'].str.contains("San Francisco") | us["Admin2"].str.contains("San Francisco")]
tampa = us.loc[us['Province_State'].str.contains("Florida") & us["Admin2"].str.contains("Hillsborough")]
chi = us.loc[us['Province_State'].str.contains("Illinois") & us["Admin2"].str.contains("Cook")]
nyc = us.loc[us['Province_State'].str.contains("New York") & us["Admin2"].str.contains("New York")]
htown = us.loc[us['Province_State'].str.contains("Texas") & us["Admin2"].str.contains("Harris")]
htown = htown.drop(htown[htown["Admin2"] == "Harrison"].index)
det = us.loc[us['Province_State'].str.contains("Michigan") & us["Admin2"].str.contains("Wayne")]
sea = us.loc[us['Province_State'].str.contains("Washington") & us["Admin2"].str.contains("King")]
bos = us.loc[us['Province_State'].str.contains("Massachusetts") & us["Admin2"].str.contains("Suffolk")]
mil = us.loc[us['Province_State'].str.contains("Wisconsin") & us["Admin2"].str.contains("Milwaukee")]
us_merged = pd.concat([sanfran, tampa, chi, nyc, htown, det, sea, bos, mil])
us_merged = us_merged.drop(columns=['UID','iso2','iso3','code3','FIPS','Country_Region','Combined_Key'])
us_merged.rename({'Admin2': 'Province/State', 'Province_State': 'Country/Region', 'Long_': 'Long'}, axis=1, inplace=True)
us_merged

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20
228,San Francisco,California,37.752151,-122.438567,0,0,0,0,0,0,...,622,676,724,797,857,872,957,987,1013,1019
352,Hillsborough,Florida,27.927656,-82.320132,0,0,0,0,0,0,...,608,626,644,671,690,759,813,819,869,878
615,Cook,Illinois,41.841448,-87.816588,0,0,1,1,1,1,...,8728,10520,10520,12472,13417,14585,15474,16323,17306,18087
1863,New York,New York,40.767273,-73.971526,0,0,0,0,0,0,...,76876,81803,87028,92384,98308,103208,106763,110465,118302,123146
2628,Harris,Texas,29.858649,-95.393395,0,0,0,0,0,0,...,2146,2341,3047,3261,3561,3629,3744,3907,4097,4306
1317,Wayne,Michigan,42.280984,-83.281255,0,0,0,0,0,0,...,9045,9626,10093,10539,10951,11164,11648,12209,12544,12544
2974,King,Washington,47.491379,-121.834613,1,1,1,1,1,1,...,3486,3688,3886,4117,4262,4426,4426,4549,4620,4697
1234,Suffolk,Massachusetts,42.327951,-71.078504,0,0,0,0,0,0,...,3245,3600,4041,4534,4926,5359,5579,5872,6279,6820
3092,Milwaukee,Wisconsin,43.004861,-87.967332,0,0,0,0,0,0,...,1323,1416,1484,1575,1653,1710,1743,1795,1870,1947

In [15]:
glob = glob.fillna("")

In [30]:
tor = glob.loc[glob['Province/State'].str.contains("Ontario")]
ita = glob.loc[glob['Country/Region'].str.contains("Italy")]
spa = glob.loc[glob['Country/Region'].str.contains("Spain")]
fra = glob.loc[glob['Country/Region'].str.contains("France")]
fra = fra.drop(fra[fra["Province/State"].str.contains("French")].index)
fra = fra.drop(fra[fra["Province/State"].str.contains("Saint")].index)
fra = fra.drop(fra[fra["Province/State"].str.contains("St")].index)
fra = fra.drop(fra[fra["Province/State"].str.contains("n")].index)
fra = fra.drop(fra[fra["Province/State"].str.contains("o")].index)
ger = glob.loc[glob['Country/Region'].str.contains("Germany")]
uk = glob.loc[glob['Country/Region'].str.contains("United Kingdom")]
uk = uk.drop(uk[uk["Province/State"].str.contains("Isl")].index)
uk = uk.drop(uk[uk["Province/State"].str.contains("a")].index)
nor = glob.loc[glob['Country/Region'].str.contains("Norway")]
swe = glob.loc[glob['Country/Region'].str.contains("Sweden")]
ira = glob.loc[glob['Country/Region'].str.contains("Iran")]
tur = glob.loc[glob['Country/Region'].str.contains("Turkey")]
beijing = glob.loc[glob['Country/Region'].str.contains("China") & glob['Province/State'].str.contains("Beijing")]
hubei = glob.loc[glob['Country/Region'].str.contains("China") & glob['Province/State'].str.contains("Hubei")]
kor = glob.loc[glob['Country/Region'].str.contains("Korea")]
mal = glob.loc[glob['Country/Region'].str.contains("Malaysia")]
syd = glob.loc[glob['Country/Region'].str.contains("Australia") & glob['Province/State'].str.contains("New South Wales")]
glob_df = pd.concat([tor, ita, spa, fra, ger, uk, nor, swe, ira, tur, beijing, hubei, kor, mal, syd])
glob_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20
42,Ontario,Canada,51.2538,-85.3232,0,0,0,0,1,1,...,4726,5276,5759,6237,6648,7049,7470,7953,8447,9840
137,,Italy,43.0000,12.0000,0,0,0,0,0,0,...,135586,139422,143626,147577,152271,156363,159516,162488,165155,168941
201,,Spain,40.0000,-4.0000,0,0,0,0,0,0,...,141942,148220,153222,158273,163027,166831,170099,172541,177644,184948
116,,France,46.2276,2.2137,0,0,2,3,3,3,...,78167,82048,86334,90676,93790,120633,124298,130253,133470,145960
120,,Germany,51.0000,9.0000,0,0,0,0,0,1,...,107663,113296,118181,122171,124908,127854,130072,131359,134753,137698
223,,United Kingdom,55.3781,-3.4360,0,0,0,0,0,0,...,55242,60733,65077,73758,78991,84279,88621,93873,98476,103093
175,,Norway,60.4720,8.4689,0,0,0,0,0,0,...,6086,6086,6211,6314,6409,6525,6603,6623,6740,6896
205,,Sweden,63.0000,16.0000,0,0,0,0,0,0,...,7693,8419,9141,9685,10151,10483,10948,11445,11927,12540
133,,Iran,32.0000,53.0000,0,0,0,0,0,0,...,62589,64586,66220,68192,70029,71686,73303,74877,76389,77995
213,,Turkey,38.9637,35.2433,0,0,0,0,0,0,...,34109,38226,42282,47029,52167,56956,61049,65111,69392,74193
50,Beijing,China,40.1824,116.4142,14,22,36,41,68,80,...,587,588,588,588,589,589,589,589,590,593
62,Hubei,China,30.9756,112.2707,444,444,549,761,1058,1423,...,67803,67803,67803,67803,67803,67803,67803,67803,67803,67803
143,,"Korea, South",36.0000,128.0000,1,1,2,2,3,4,...,10331,10384,10423,10450,10480,10512,10537,10564,10591,10613
153,,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,3963,4119,4228,4346,4530,4683,4817,4987,5072,5182
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,2686,2734,2773,2822,2857,2857,2863,2870,2886,2897

In [53]:
data = pd.concat([us_merged,glob_df])
data

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20
228,San Francisco,California,37.752151,-122.438567,0,0,0,0,0,0,...,622,676,724,797,857,872,957,987,1013,1019
352,Hillsborough,Florida,27.927656,-82.320132,0,0,0,0,0,0,...,608,626,644,671,690,759,813,819,869,878
615,Cook,Illinois,41.841448,-87.816588,0,0,1,1,1,1,...,8728,10520,10520,12472,13417,14585,15474,16323,17306,18087
1863,New York,New York,40.767273,-73.971526,0,0,0,0,0,0,...,76876,81803,87028,92384,98308,103208,106763,110465,118302,123146
2628,Harris,Texas,29.858649,-95.393395,0,0,0,0,0,0,...,2146,2341,3047,3261,3561,3629,3744,3907,4097,4306
1317,Wayne,Michigan,42.280984,-83.281255,0,0,0,0,0,0,...,9045,9626,10093,10539,10951,11164,11648,12209,12544,12544
2974,King,Washington,47.491379,-121.834613,1,1,1,1,1,1,...,3486,3688,3886,4117,4262,4426,4426,4549,4620,4697
1234,Suffolk,Massachusetts,42.327951,-71.078504,0,0,0,0,0,0,...,3245,3600,4041,4534,4926,5359,5579,5872,6279,6820
3092,Milwaukee,Wisconsin,43.004861,-87.967332,0,0,0,0,0,0,...,1323,1416,1484,1575,1653,1710,1743,1795,1870,1947
42,Ontario,Canada,51.253800,-85.323200,0,0,0,0,1,1,...,4726,5276,5759,6237,6648,7049,7470,7953,8447,9840
137,,Italy,43.000000,12.000000,0,0,0,0,0,0,...,135586,139422,143626,147577,152271,156363,159516,162488,165155,168941
201,,Spain,40.000000,-4.000000,0,0,0,0,0,0,...,141942,148220,153222,158273,163027,166831,170099,172541,177644,184948
116,,France,46.227600,2.213700,0,0,2,3,3,3,...,78167,82048,86334,90676,93790,120633,124298,130253,133470,145960
120,,Germany,51.000000,9.000000,0,0,0,0,0,1,...,107663,113296,118181,122171,124908,127854,130072,131359,134753,137698
223,,United Kingdom,55.378100,-3.436000,0,0,0,0,0,0,...,55242,60733,65077,73758,78991,84279,88621,93873,98476,103093
175,,Norway,60.472000,8.468900,0,0,0,0,0,0,...,6086,6086,6211,6314,6409,6525,6603,6623,6740,6896
205,,Sweden,63.000000,16.000000,0,0,0,0,0,0,...,7693,8419,9141,9685,10151,10483,10948,11445,11927,12540
133,,Iran,32.000000,53.000000,0,0,0,0,0,0,...,62589,64586,66220,68192,70029,71686,73303,74877,76389,77995
213,,Turkey,38.963700,35.243300,0,0,0,0,0,0,...,34109,38226,42282,47029,52167,56956,61049,65111,69392,74193
50,Beijing,China,40.182400,116.414200,14,22,36,41,68,80,...,587,588,588,588,589,589,589,589,590,593
62,Hubei,China,30.975600,112.270700,444,444,549,761,1058,1423,...,67803,67803,67803,67803,67803,67803,67803,67803,67803,67803
143,,"Korea, South",36.000000,128.000000,1,1,2,2,3,4,...,10331,10384,10423,10450,10480,10512,10537,10564,10591,10613
153,,Malaysia,2.500000,112.500000,0,0,0,3,4,4,...,3963,4119,4228,4346,4530,4683,4817,4987,5072,5182
9,New South Wales,Australia,-33.868800,151.209300,0,0,0,0,3,4,...,2686,2734,2773,2822,2857,2857,2863,2870,2886,2897

In [54]:
data["Name"] = data["Province/State"] + "," + data["Country/Region"]
cols = [data.columns[-1]] + [col for col in data if col != df.columns[-1]]
data = data[cols]
df.drop(df.columns[len(df.columns)-1], axis=1, inplace=True)
data

,Name,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/16/20,Name
228,"San Francisco,California",San Francisco,California,37.752151,-122.438567,0,0,0,0,0,...,622,676,724,797,857,872,957,987,1019,"San Francisco,California"
352,"Hillsborough,Florida",Hillsborough,Florida,27.927656,-82.320132,0,0,0,0,0,...,608,626,644,671,690,759,813,819,878,"Hillsborough,Florida"
615,"Cook,Illinois",Cook,Illinois,41.841448,-87.816588,0,0,1,1,1,...,8728,10520,10520,12472,13417,14585,15474,16323,18087,"Cook,Illinois"
1863,"New York,New York",New York,New York,40.767273,-73.971526,0,0,0,0,0,...,76876,81803,87028,92384,98308,103208,106763,110465,123146,"New York,New York"
2628,"Harris,Texas",Harris,Texas,29.858649,-95.393395,0,0,0,0,0,...,2146,2341,3047,3261,3561,3629,3744,3907,4306,"Harris,Texas"
1317,"Wayne,Michigan",Wayne,Michigan,42.280984,-83.281255,0,0,0,0,0,...,9045,9626,10093,10539,10951,11164,11648,12209,12544,"Wayne,Michigan"
2974,"King,Washington",King,Washington,47.491379,-121.834613,1,1,1,1,1,...,3486,3688,3886,4117,4262,4426,4426,4549,4697,"King,Washington"
1234,"Suffolk,Massachusetts",Suffolk,Massachusetts,42.327951,-71.078504,0,0,0,0,0,...,3245,3600,4041,4534,4926,5359,5579,5872,6820,"Suffolk,Massachusetts"
3092,"Milwaukee,Wisconsin",Milwaukee,Wisconsin,43.004861,-87.967332,0,0,0,0,0,...,1323,1416,1484,1575,1653,1710,1743,1795,1947,"Milwaukee,Wisconsin"
42,"Ontario,Canada",Ontario,Canada,51.253800,-85.323200,0,0,0,0,1,...,4726,5276,5759,6237,6648,7049,7470,7953,9840,"Ontario,Canada"
137,",Italy",,Italy,43.000000,12.000000,0,0,0,0,0,...,135586,139422,143626,147577,152271,156363,159516,162488,168941,",Italy"
201,",Spain",,Spain,40.000000,-4.000000,0,0,0,0,0,...,141942,148220,153222,158273,163027,166831,170099,172541,184948,",Spain"
116,",France",,France,46.227600,2.213700,0,0,2,3,3,...,78167,82048,86334,90676,93790,120633,124298,130253,145960,",France"
120,",Germany",,Germany,51.000000,9.000000,0,0,0,0,0,...,107663,113296,118181,122171,124908,127854,130072,131359,137698,",Germany"
223,",United Kingdom",,United Kingdom,55.378100,-3.436000,0,0,0,0,0,...,55242,60733,65077,73758,78991,84279,88621,93873,103093,",United Kingdom"
175,",Norway",,Norway,60.472000,8.468900,0,0,0,0,0,...,6086,6086,6211,6314,6409,6525,6603,6623,6896,",Norway"
205,",Sweden",,Sweden,63.000000,16.000000,0,0,0,0,0,...,7693,8419,9141,9685,10151,10483,10948,11445,12540,",Sweden"
133,",Iran",,Iran,32.000000,53.000000,0,0,0,0,0,...,62589,64586,66220,68192,70029,71686,73303,74877,77995,",Iran"
213,",Turkey",,Turkey,38.963700,35.243300,0,0,0,0,0,...,34109,38226,42282,47029,52167,56956,61049,65111,74193,",Turkey"
50,"Beijing,China",Beijing,China,40.182400,116.414200,14,22,36,41,68,...,587,588,588,588,589,589,589,589,593,"Beijing,China"
62,"Hubei,China",Hubei,China,30.975600,112.270700,444,444,549,761,1058,...,67803,67803,67803,67803,67803,67803,67803,67803,67803,"Hubei,China"
143,",Korea, South",,"Korea, South",36.000000,128.000000,1,1,2,2,3,...,10331,10384,10423,10450,10480,10512,10537,10564,10613,",Korea, South"
153,",Malaysia",,Malaysia,2.500000,112.500000,0,0,0,3,4,...,3963,4119,4228,4346,4530,4683,4817,4987,5182,",Malaysia"
9,"New South Wales,Australia",New South Wales,Australia,-33.868800,151.209300,0,0,0,0,3,...,2686,2734,2773,2822,2857,2857,2863,2870,2897,"New South Wales,Australia"

In [55]:
data.to_csv("data.csv")